<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>EVA Social</title>
</head>
<body>
    <h1>
        Welcome to EVA Social
    </h1>

    <div>
        <div>
            <h3>Status: </h3>
            <h3>Likes: </h3>
            <h3>Dislikes: </h3>
        </div>
        <div th:each="post :${posts}">
            <ul>
                <li>
                    <h4 th:text="${post.getStatus()}"></h4>
                </li>
                <li>
                    <form th:action="@{/posts/update/likes/{id}(id=${post.getId()})}" method="post" style="display:inline;">
                        <button type="submit" th:text="${post.getLikes()}"></button>
                    </form>
                </li>
                <li>
                    <form th:action="@{/posts/update/dislikes/{id}(id=${post.getId()})}" method="post" style="display:inline;">
                        <button type="submit" th:text="${post.getDislikes()}"></button>
                    </form>
                </li>
            </ul>
        </div>
    </div>
</body>
</html>